/* Bars/Beers Index & Details */
.card-category {
  font-weight: bold;
}

.card-deck {
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
  margin-bottom: 20px;
}

/* Beer Details Grid */
.beersGridThree {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.beersGridFive {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4px;
}

.cellHead {
  border-bottom: 1px lightgray solid;
}


/* Buttons */
.btn-hover {
  cursor: pointer
}

/* Owner's Bar Index */
.owner-bar {
  height: 100px;
  margin: 0 auto;
}

.owner-beers {
  margin: 0 auto;
}

/* Map */
#map_canvas {
  width: 100%;
  max-width: 900px;
  height: 300px;
  margin: 24px auto;
  position: relative;
  overflow: hidden;
  border: 4px solid #fec325;
  border-radius: 20px;
  padding: 10px;
}

.details-heading {
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.details-subheading {
  width: 100%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.splash-logo {
  display: block;
  margin-top: 0%;
  margin-bottom: 0%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.splash-logo img {
  width: 100%;
}

.index-buttons {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#bar-button {
  width: 150px;
  margin-right: 50px;
}

#beer-button {
  width: 150px;
}

#fav-beer-button {
  margin-left: 50px;
  width: 150px;
}

.cancel-button {
  margin-right: 15px; 
}

.form-header {
  text-align: center;
  margin-top: 5%;
}

.form-model {
  margin-left: 25%;
  margin-right: 25%;
}

.btn-outline-warning:hover {
  color: #fff;
}

.user-header {
  text-align: center;
  margin-top: 5%;
}

.user-actions {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.reg-buttons {
  text-align: center;
}

.login-buttons {
  text-align: center;
}

.alert {
  display: none;
  width: 50%;
  height: 50px;
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
}

.beers-list-row {
  border-bottom: 1px solid #E9ECEF;
}

.column-header {
  font-weight: bold;
}

.beer-detail-card {
  width: 100%;
}

.beer-card-title {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.beer-details {
  max-width: 300px;
}

