.beersGridThree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.beersGridFive {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4px;
}

.cellHead {
  border-bottom: 1px lightgray solid;
}
