@{
  Layout = "_Layout";
}

  <div class='container'>
    <div class="splash-logo">
      <img src="~/img/wot-logo-transparent.png" alt="whats on tap logo">
    </div>
    <div class="index-buttons">
      <a class="btn btn-outline-dark btn-lg" id="bar-button" href="/bars">Bars</a>

      <a class="btn btn-outline-dark btn-lg" id="beer-button" href="/beers">Beers</a>
    </div>
  </div>
