@{
  Layout = "_Layout";
}

  <div class='container'>
    <div class="page-center">
    <img src="~/img/wot-logo-transparent.png" alt="whats on tap logo">
    </div>

      <div class="page-center-low center">
        <a class="btn btn-outline-secondary btn-lg" href="/bars">Bars</a>

        <a class="btn btn-outline-secondary btn-lg" href="/beers">Beers</a>
      </div>
  </div>
