@{
    Layout = "_Layout";
}

@using System.Security.Claims

<div class="container">
    @if(User.Identity.IsAuthenticated)
    {
        await Html.RenderPartialAsync("_MainAction");
    }
    else
    {
        await Html.RenderPartialAsync("_RequiresLogin");
    }
</div>