@{
    Layout = "_Layout";
}

@using System.Security.Claims

<div class="container">
    @if(User.Identity.IsAuthenticated)
    {
        <div class="jumbotron">
            <h2>Welcome back, @User.Identity.Name!</h2>
            <div class="user-actions">
                <a href="#" class="btn btn-lg btn-outline-primary">Bars</a>
                <a href="#" class="btn btn-lg btn-outline-primary">Beers</a>
            </div>
            <div>
                <a href="/user/beers" class="btn btn-lg btn-outline-primary">Favorite Beers</a>
            </div>
        </div>
    }
    else
    {
        <p>@Html.ActionLink("Sign Up", "Register")</p>
        <p>@Html.ActionLink("Log in", "Login")</p>
    }
</div>