@{
    Layout = "_Layout";
}

@using System.Security.Claims

<div class="container">
    @if(User.Identity.IsAuthenticated)
    {
        await Html.RenderPartialAsync("_MainAction");
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-triangle"></i>&nbsp;<strong>Oops! </strong> You need to log in to view this page!
        </div>
    }
</div>