@model IEnumerable<WhatsOnTap.Models.Beer>

@{
    Layout = "_Layout";
}

<div class='container'>
    <div class="row beers-list-row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item column-header">Beer Name</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item column-header">Style</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item column-header">ABV</li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item column-header">IBU</li>
            </ul>
        </div>
    </div>
</div>
