<div class="splash-logo">
    <img src="~/img/wot-logo-transparent.svg" alt="whats on tap logo">
</div>
<div class="index-buttons">
    <a class="btn btn-outline-dark btn-lg" id="bar-button" href="/bars">Bars</a>
    <a class="btn btn-outline-dark btn-lg" id="beer-button" href="/beers">Beers</a>
    @if(User.Identity.IsAuthenticated && User.IsInRole("user"))
    {
        <a class="btn btn-outline-dark btn-lg" id="fav-beer-button" href="/user/beers">My Beers</a>     
    }
    else if(User.Identity.IsAuthenticated && User.IsInRole("owner"))
    {
        <a class="btn btn-outline-dark btn-lg" id="fav-beer-button" href="/user/beers">My Taplist</a>     
    }
</div>