@{
  Layout = "_Layout";
  var itemCount == 1;
}

  <div class='container'>
    <h1>Welcome Joe Owner!</h1>

    <div class="owner-bar">
        <h2>Owner's Bar Name</h2>
    </div>
    

    <div class="owner-beers">
        <h1>Taplist for Owner's Bar</h1>

    </div>

  </div>
