@model IEnumerable<WhatsOnTap.Models.Beer>

@{
  Layout = "_Layout";
  var itemCount = 1;
}

<div class="container">
    <form action="/bars/new" method="post">
        <h1>Enter a new Bar:</h1>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Bar Name</span>
            </div>
            <input type="text" name="barName" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Rating</span>
            </div>
            <input type="text" name="barRating" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Website</span>
            </div>
            <input type="text" name="barWebsite" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Street Address</span>
            </div>
            <input type="text" name="barStreet" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">City</span>
            </div>
            <input type="text" name="barCity" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">State</span>
            </div>
            <input type="text" name="varState" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Zip</span>
            </div>
            <input type="text" name="barZip" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Phone number</span>
            </div>
            <input type="text" name="barPhone" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Latitude</span>
            </div>
            <input type="text" name="barLatitude" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Longitude</span>
            </div>
            <input type="text" name="barLongitude" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <select name="barNeighborhood">
            <option value="SouthWest Portland">SouthWest Portland</option>
            <option value="SouthEast Portland">SouthEast Portland</option>
            <option value="NorthEast Portland">NorthEast Portland</option>
            <option value="North Portland">North Portland</option>
            <option value="NorthWest Portland">NorthWest Portland</option>
            <option value="Beaverton">Beaverton</option>
            <option value="Vancouver">Vancouver</option>
            <option value="Downtown Portland">Downtown Portland</option>
            </select>
        </div>
        <h2>Which beer does this bar serve?</h2>
        @foreach (var beer in Model)
        {
            @if (itemCount == 1)
            {
                @Html.Raw("<div class='card-deck'>")
            }
            <div class="card">

                <img class="card-img-top" src="~/img/beer-icon.jpg" alt="Card image cap" for="beerId">
                <div class="card-body" for="beerId">
                    <h4 class="card-title">@beer.BeerName</h4>
                </div>
                <input type="checkbox" name="beerId" value="@beer.BeerId">
            </div>

            @if (itemCount == 3)
            {
                @Html.Raw("</div>")
                itemCount = 1;
            }
            else {
                itemCount++;
            }
        }
        <button class="submitForm" type="submit">Submit</button>
    </form>
</div>
