@model IEnumerable<WhatsOnTap.Models.Beer>

@{
  Layout = "_Layout";
  var itemCount = 1;
}

<div class="container">

    <form action="/bars/new" method="post">
        <h1>Enter a new Beer:</h1>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Bar Name</span>
            </div>
            <input type="text" name="BarName" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Rating</span>
            </div>
            <input type="text" name="BarRating" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Website</span>
            </div>
            <input type="text" name="BarWebsite" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Street Address</span>
            </div>
            <input type="text" name="BarStreet" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>

            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">City</span>
            </div>
            <input type="text" name="BarCity" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">State</span>
            </div>
            <input type="text" name="varState" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Zip</span>
            </div>
            <input type="text" name="BarZip" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Phone number</span>
            </div>
            <input type="text" name="BarPhone" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Latitude</span>
            </div>
            <input type="text" name="BarLatitude" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Longitude</span>
            </div>
            <input type="text" name="BarLongitude" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
        </div>




        <h2>Which beer does this bar serve?</h2>
            @foreach (var beer in Model)
            {
                @if (itemCount == 1)
                {
                    @Html.Raw("<div class='card-deck'>")
                }
                <div class="card">

                    <img class="card-img-top" src="~/img/beer-icon.jpg" alt="Card image cap" for="beerId">
                    <div class="card-body" for="beerId">
                        <h4 class="card-title">@beer.BeerName</h4>
                    </div>
                    <input type="checkbox" name="beerId" value="@beer.BeerId">
                </div>

                @if (itemCount == 3)
                {
                    @Html.Raw("</div>")
                    itemCount = 1;
                }
                else {
                    itemCount++;
                }
            }
        <button class="submitForm" type="submit">Submit</button>
    </form>

</div>
